@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:700&display=swap");
* {
  margin: 0;
  padding: 0; }

.phone-transfer {
  height: 224px;
  background: url("../image/transfer-fon.jpg") no-repeat center;
  background-size: cover; }

.exit {
  width: 63px;
  height: 224px;
  float: left; }

.arrow-left {
  background: url("../image/arrow-left.jpg") no-repeat;
  height: 18px;
  width: 18px;
  background-size: cover;
  margin: 15px; }

.transfer {
  padding: 15px 0;
  float: left; }

.transfer-text {
  color: #fff;
  font-size: 17px;
  font-family: roboto; }

.transfer-phone {
  width: 160px;
  float: left; }

input {
  border: none;
  outline: none;
  background: none;
  color: #fff;
  font-family: roboto; }

.place_1 {
  width: 150px;
  font-size: 14px;
  margin-bottom: 10px; }

.place_2 {
  width: 150px;
  font-size: 28px; }

.content-image {
  background: url("../image/content-image.jpg") no-repeat;
  background-size: cover;
  height: 261px; }
